@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color:#444444;
	font-family:"Lucida Grande","Lucida Sans Unicode",Verdana,Arial,sans-serif;
	font-size:13px;
	line-height:1.5em;
	background: #ddf0ff;
}

a {
	color: #0062BD;
	text-decoration: none;
}

a:hover {
	text-decoration: underline; 
	cursor:pointer;
}