@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color:#444444;
	font-family:"Lucida Grande","Lucida Sans Unicode",Verdana,Arial,sans-serif;
	font-size:13px;
	line-height:1.5em;
	background: #ddf0ff;
}

.quotes div.quote, .add, .search {
        border: 2px solid #fff;
	background: #fff;
        -moz-border-radius: 10px;  
        -webkit-border-radius: 10px; 
	margin: 10px; 
	padding: 0 10px;
}

.quotes blockquote {
	padding: 0;
	margin: 5px;	
	padding: 0 10px;
	white-space: pre-line
/*	background-image: url(quote-open.png), url(quote-close.png);
	background-position: top left, bottom right;
	background-repeat: no-repeat, no-repeat;*/
}

.quotes p {
	border-top: 1px solid #e8e8e8;
	margin: 2px;
	padding: 0;
	font-size: 10px;
}

a {
	color: #0062BD;
	text-decoration: none;
}

a:hover {
	text-decoration: underline; 
	cursor:pointer;
}

.pagination {
 text-align: center; 
}

.pagination p {
 border-top: 1px solid #bde2ff;
}

.pagination a, span.previous, span.next, span.current {
 margin: 0 4px;
 text-decoration: none;
}

.pagination a:hover {
 text-decoration: underline;
}

.add textarea {
 width: 70%;
 margin: 0 auto;
}

form {
 padding: 0;
 margin: 0;
}

.add p {
 text-align: center;
}

.add p.answer {
 text-align: left;
}

.search fieldset {
  border: 1px solid #c0c0c0;
  margin-bottom: 4px;
  -moz-border-radius: 10px;  
  -webkit-border-radius: 10px; 

}

.search fieldset p {
padding: 4px 2px 0 2px;
margin: 0;
}

.search input[type=text] {
	width: 45%;
}
